@model MyStuff.ViewModels.PhotoAlbums.AlbumIndexPhotoAlbumsViewModel

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/UpdatePhotos")

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")  |  @Html.ActionLink("Organise By Year", "OrganiseByYear")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoAlbum.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoAlbum.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoAlbum.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoAlbum.CreatedBy)
        </th>
        <th>
            Image Count
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.PhotoAlbums) {
    <tr>
        <td>
            @{
                var actionLink = "/PhotoAlbums/Gallery/" + item.AlbumId;
                var imageSrc = "blah.jpg";
                var altDescription = "No Photos";

                if (item.Photos.Count > 0)
                {
                    imageSrc = item.Photos.Last().ThumbnailPath;
                    altDescription = item.Photos.Last().Description;
                }

            }

            <a href="@imageSrc">
                <img src="@imageSrc" alt="@altDescription" class=".img-thumbnail image-update" />
            </a>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td style="text-align:left">
            @Html.DisplayFor(modelItem => item.Photos.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlbumId }) |
            @Html.ActionLink("Gallery", "AlbumGallery", new { id=item.AlbumId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumId })
        </td>
    </tr>
}

</table>
