@model MyStuff.ViewModels.DeletePhotosViewModel

@{
    ViewBag.Title = "Delete";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.HiddenFor(model => model.Photo.PhotoId)

        <dd>
            @Html.DisplayNameFor(model => model.Photo.UploadFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo.DateTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo.DateTaken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo.TakenBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo.TakenBy)
        </dd>

    </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Update")
        </div>

</div>

    }

