@model MyStuff.ViewModels.Photos.UpdatePhotosViewModel

@{
    ViewBag.Title = "Maintain Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/UpdatePhotos")

<h2>Maintain Photos</h2>

@using (Html.BeginForm("Update", "Photos", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-8">
            <div class="input-group">
                <input type="text"
                       name="filter"
                       value="@ViewBag.filter"
                       class="form-control"
                       style="display: inline"
                       placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go</button>
                </span>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Update", "Photos", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("currentPage", Model.Images.CurrentPage)



    <div class="row">

        <div class="panel">

            <div class="panel-body">

                <div class="table-responsive">

                    <table class="table table-bordered table-striped">
                        <tr>

                            <th>
                                File Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                CreatedOn
                            </th>
                            <th>
                                TakenBy
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>

                        @for (int i = 0; i < Model.Images.Content.Count; i++)
                        {
                            <tr>

                                @*<td>

                                                               @Html.TextBox("Photos[" + (@i + 10) + "].PhotoId",
                                    Model.Images.Content[i].PhotoId, new { @readonly = "readonly", @class = "tableCellTextBox tableCellTextBoxSmallCell" })
                                                           </td>*@
                                <td>
                                    @Html.Hidden("Photos.Index", (@i + 10))
                                    @Html.Hidden("Photos[" + (@i + 10) + "].PhotoId", Model.Images.Content[i].PhotoId)

                                    @Html.TextBox("Photos[" + (@i + 10) + "].FileName",
             Model.Images.Content[i].FileName, new { @class = "tableCellTextBox tableCellTextBoxEditable" })

                                </td>
                                <td>
                                    @Html.TextArea("Photos[" + (@i + 10) + "].Description",
             Model.Images.Content[i].Description, new { @class = "tableCellTextArea tableCellTextAreaEditable" })
                                </td>
                                <td>
                                    @Html.TextBox("Photos[" + (@i + 10) + "].DateTaken",
                        Model.Images.Content[i].DateTaken, new { @class = "tableCellTextBox tableCellTextBoxEditable" })
                                    @Html.ValidationMessageFor(model => model.Images.Content[i].DateTaken, "", new { @class = "text-danger" })

                                </td>
                                <td>
                                    @Html.TextBox("Photos[" + (@i + 10) + "].TakenBy",
             Model.Images.Content[i].TakenBy, new { @class = "tableCellTextBox tableCellTextBoxEditable" })

                                </td>
                                <td>
                                    <a href="@Model.Images.Content[i].ImagePath" title="@Model.Images.Content[i].Description">
                                        <img src="@Model.Images.Content[i].ImagePath" alt="@Model.Images.Content[i].Description" class=".img-thumbnail image-update" />
                                    </a>

                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { photoId = Model.Images.Content[i].PhotoId })
                                </td>
                            </tr>
                        }

                    </table>


                </div> @* <div class="panel-body"> *@
            </div> @* <div class="col-md-12"> *@
        </div>  @* <div class="row">*@
    </div> @*<div class="table-responsive">*@

    <div>
        <br />

        @{
            var grid = new WebGrid(
                        canPage: true,
                        rowsPerPage: Model.Images.PageSize,
                        canSort: true);

            grid.Bind(Model.Images.Content, rowCount: Model.Images.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);

            @grid.GetHtml(htmlAttributes: new { id = "grid" },
         fillEmptyRows: false,
         mode: WebGridPagerModes.All,
         columns: grid.Columns(),
         numericLinksCount:10);
        }
    </div>

        <p>
            <input type="submit" value="Save Changes" />
        </p>
        <p>
            <input type="checkbox" name="deleteFiles" value="True"> Delete All Files Listed<br>
        </p>

            } @* @using (Html.BeginForm("Update", "Photos", FormMethod.Post)) *@
